<div class="container">
  <div class="row-md-6 mt-3 text-center">
    <u class="h1">About</u><!-- "u class"は文字に下線を追加する -->
  </div>
</div>
<div class="row justify-content-md-center" style="width: 200;">
  <div class="col-md-8 m-5 text-center">
    <div class="about-image">
      <p>ながのCAKEは国内発送可能なケーキ屋さんです。</p>
      <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
      <p>様々なバリエーションをご用意しております。</p>
      <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもお支払い頂けます。</p>
      <p>ぜひご注文下さい。</p>
    </div>
  </div>
</div>

