<div class="container mt-5 mb-3">
  <div class="row justify-content-center">
    <div class="col-md-10 text-center">
      <div class="top-image pt-4">
        <strong>ようこそ！ながのCAKEへ！</strong>
        <p>このサイトは、ケーキ販売のECサイトになります。</p>
        <p>会員でない⽅も商品の閲覧はできますが、</p>
        <p>購⼊には会員登録が必要になります。</p>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-2 mx-auto mb-4 pt-3 pb-2 text-center">
  <h4>新着商品</h4>
</div>
<div class="row pt-5 pb-5 justify-content-md-center">
  <div class="col-sm-1 "></div>
  <% @items.each do |item| %>
    <div class="card mr-5" style="width: 15rem">
      <%= attachment_image_tag(item, :image, :fill, 200, 200,) %>
      <div class="card-body">
        <p class="card-title"><%= item.name %></p>
        ¥<%= item.price.to_s(:delimited) %>
      </div>
    </div>
  <% end %>
</div>
<div class="col mt-4 text-right">
<%= link_to "全ての商品を見る>>", items_path, class: "alert alert-light" %>
</div>
