<div class="container">
  <div class="row my-3">
    <div class="col-sm-2">
      <h4>商品一覧</h4>
      <div class="col text-light text-center">
        <strong class="h5">(全<%= @items.count %>件)</strong>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @items.each do |item| %>
      <div class="card-body">
        <div class="col-3"></div>
        <div class="card-image">
          <%= link_to attachment_image_tag(item, :image, :fill, 200, 200, fallback: "no_image.jpg"), item_path(item)  %>
        </div>
        <div class="col text-light">
          <p><%= item.name %></p>
          <strong><%= number_to_currency(item.price, unit: "￥", precision: 0) %></strong>
        </div>
      </div>
    <% end %>
  </div>
</div>
