/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

u {
	color: white;
	font-family: impact;
}

h4 {
	color: #C2EEFF;
	text-align: center;
	font-family: Hiragino Mincho Pro;
}


.about-image {
	height: 400px;
	background-image: url(CAKE4.jpg);
	background-repeat: no-repeat;

}
.about-image p {
	font-size: 25px;
	padding-top: 20px;
	color: white;
	font-family: Hiragino Mincho Pro;
}

body {
	background-image: url(森2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	display: block;
  	height: auto;
  	max-width: 100%;
	/*background-attachment: fixed;　スクロールしても画像を固定*/
}

.top-image {
	background-image: url(CAKE2.jpg);
	height: 400px;
	background-repeat: no-repeat;
	border-radius: 30%;
}

.top-image strong {
	font-size: 60px;
	color: maroon;
	font-family: Hiragino Mincho Pro;
}

.top-image p {
	padding: 20px 0;
	font-size: 30px;
	color: maroon;
	font-family: Hiragino Mincho Pro;
}

.edit-image {
	background-image: url(新聞.jpg);
	font-family: Hiragino Mincho Pro;
}
.customer-image {
	background-image: url(新聞.jpg);
	font-family: Hiragino Mincho Pro;
}

.out-image {
	background-image: url(CAKE3crush.jpg);
	background-repeat: no-repeat;
	font-family: Hiragino Mincho Pro;
}

.navbar-brand {
	background-image: url(header.jpg);
	border-radius: 50%; /*画像を丸くsuru*/
	color: white;
	font-family: 'Sacramento', cursive;
	font-size: 30px;
}

.navbar-brand:hover {
  opacity: .5;
}
